@font-face {
    font-family: 'Hyperspace';
    font-style: normal;
    src: url('hyperspace/Hyperspace.otf');
}

@font-face {
    font-family: 'Hyperspace';
    font-weight: bold;
    font-style: normal;
    src: url('hyperspace/HyperspaceBold.otf');
}

.text {
    -fx-font-family: "Hyperspace";
}

.list-view .list-cell {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size:15.0;

    }

.text-input {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Hyperspace";
    -fx-background-color: black;
    -fx-border-color: white;
}

.button {
    -fx-font-weight: bold;
    -fx-background-radius: 0;
}

.choice-box .label {
    -fx-text-fill: white; 
    -fx-font-size:18.0;
}

.choice-box .context-menu { 
    -fx-background-color: black; 
}

.choice-box .menu-item:focused {
    -fx-background-color: rgb(89, 0, 0); 
}

.choice-box .arrow{
    -fx-background-color: white;
}