@font-face {
    font-family: 'Hyperspace';
    font-style: normal;
    src: url('hyperspace/Hyperspace.otf');
}

@font-face {
    font-family: 'Hyperspace';
    font-weight: bold;
    font-style: normal;
    src: url('hyperspace/HyperspaceBold.otf');
}

.text {
    -fx-font-family: "Hyperspace";
}

.list-view .list-cell {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size:15.0;

    }

.text-input {
    -fx-text-fill: white;
}